<!DOCTYPE html>
<html lang="en">
<link>
  <title>CSV sile | Service </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet"   href="{{ url_for('static', filename='css/login_style.css') }}">
    <link rel="stylesheet"   href="{{ url_for('static', filename='css/common_style.css') }}">
  <style>


.container{
    margin-bottom: 145px;
}



  </style>
</head>
<body style="height:100%;">
<div class="bg_img" style="height:100%;">
<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-brand" style="color: white;">Server service</p>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('index') }}">Home</a></li>

      <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Upload types <span class="caret"></span></a>
        <ul class="dropdown-menu">
             <li><a href="{{ url_for('individual_page') }}">Individual</a></li>
             <li><a href="{{ url_for('csv_file') }}">CSV file</a></li>
    
          
        </ul>
      </li>
         <li><a href="{{ url_for('servers') }}">Servers</a></li>
         <li><a href="{{ url_for('log_data') }}">Log data</a></li>
    </ul>
    
  </div>
</nav>
  
<!--end of nabar-->

<div class="container ">

    <div  class="user_guide">
        <h1 class="gretting text-center" style="color: white;"> <span style="color:midnightblue">Upload your CSV file</span></h1><br>
        <br>

        <div class="guide_center" style="background-color: grey;" >
            <form class="file_up" action="{{ url_for('csv_content') }}" method="POST" enctype="multipart/form-data">

                 <label for="os">Select OS:</label>
                <select name="os" id="os">
                <option value="windows">Windows</option>
                <option value="linux">Linux</option>
                <option value="python">Python Lab</option>
                <option value="centos">Centos Lab</option>
                </select>
                <br>
                <br>

                <label for="fileUpload" style="font-weight: 500;">Select file from your computer</label>
                <input sclass="file_up_btn" type="file" id="fileUpload" name="file" value ="file"/>
                <input  type="submit" value="Upload" style="float: right;"/>
              </form>

        </div>`
</div>
        </div>







<!-- Footer -->
<footer class="page-footer font-small blue" >

    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="#">Kiran_host.com</a>
    </div>
  
  
  </footer>
  <!-- Footer -->
</div>
</body>
</html>
