<!DOCTYPE html>
<html>
<head>
  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet"   href="{{ url_for('static', filename='css/login_style.css') }}">
    <link rel="stylesheet"   href="{{ url_for('static', filename='css/common_style.css') }}">

    <title> Individual | Server</title>
<style>
    .modal-content{
        padding: 25px;
    }
</style>
</head>
<body>

<!--navbar-->
<div class="bg_img">
    <nav class="navbar navbar-inverse ">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-brand" style="color: white;">Server service</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ url_for('index') }}">Home</a></li>
          <li class="dropdown active"><a class="dropdown-toggle" data-toggle="dropdown" href="./server.html">Upload Types <span class="caret"></span></a>
            <ul class="dropdown-menu">
                 <li><a href="{{ url_for('individual_page') }}">Individual</a></li>
                <li><a href="{{ url_for('csv_file') }}">CSV file</a></li>
            </ul>
          </li>
          <li><a href="{{ url_for('servers') }}">Servers</a></li>
            <li><a href="{{ url_for('log_data') }}">Log data</a></li>
        </ul>
      </div>
    </nav>
<!--end of nav bar-->




<div>
  <form class="modal-content " action="{{ url_for('individual_output') }}" method="POST">
    <h1 class="gretting text-center" style="color: white;">Individual Commands<span style="color:midnightblue"></span></h1><br>

<!--    <label for="os">Select OS:</label>-->
<!--    <select name="os" id="os">-->
<!--    <option value="windows">Windows</option>-->
<!--    <option value="linux">Linux</option>-->
<!--  </select>-->

      <input class="text_tab" type="text" placeholder="IP Address" name="ipaddr" id="ipaddr" required>
      <input class="text_tab" type="text" placeholder="Username" name="uname" id="uname" required>
      <input class="text_tab" type="password" placeholder="Password" name="passwd" id="passwd" required>
      <textarea name="commands" rows="4" cols="47"
        placeholder="Commands with # in between them.." id="commands" required></textarea>
        
      <button class="text_tab" type="submit" style="background-color: tomato;">Submit</button>

  </form>

</div>

<!-- Footer -->
<footer class="page-footer font-small blue" >
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="#">Kiran_host.com</a>
    </div>
  </footer>
  <!-- Footer -->
</body>
</html>
