<!DOCTYPE html>
<html  >
<head>
    <h3><a href="{{ url_for('index') }}">Home</a></h3>
  
</head>
<body>

    <div class="container">
        <div class="mbr-section-head">
            <h3><strong>Individual Command</strong></h3>
            
        </div>

                <form action="http://localhost:5055/output1" method="POST" ><input type="hidden" name="email">

                    <div class="dragArea row">
                        <div data-for="name">
                            <input type="text" name="hostname" placeholder="IP Address" id="hostname">
                        </div>
                        <div >
                            <input type="text" name="username" placeholder="Username" id="username">
                        </div>
                        <div >
                            <input type="passwd" name="password" placeholder="Password" id="password">
                        </div>
                        <div >
                            <textarea type="textarea" name="commands" placeholder="Commands with # between them" id="commands"></textarea>
                        </div>
                        <div >
                        <button type="submit" name="submit" id="submit" value="submit">submit</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>

  
</body>
</html>