<!DOCTYPE html>
<html  >
<head>

</head>
<body>
  

    


                <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true"><li class="nav-item">
                    <a class="nav-link link text-black display-4" href="page1.html">Individual command&nbsp;</a></li><li class="nav-item">
                    <a class="nav-link link text-black display-4" href="page2.html">Load CSV file</a></li></ul>
                
                






                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1"><strong>How to use</strong></h1>
                
                <p class="mbr-text mbr-fonts-style display-7">Type 1: Single command<br>Step 1:&nbsp;<br>Step 2:<br>Type 2: Load CVS<br>Step 1:<br>Step 2:</p>

  
</body>
</html>